@model ConnectEmployeeVM
@using EmployeesApp.Web.Views.Companies
@using Microsoft.AspNetCore.Mvc.Rendering


<h2>Connect Employee to Company</h2>

<form asp-action="ConnectEmployee" method="post">
    <label for="employee">Employee</label>
    <select asp-for="SelectedEmployeeId" asp-items="Model.Employees">
        <option value="">-- Select Employee --</option>
    </select>

    <label for="company">Company</label>
    <select asp-for="SelectedCompanyId" asp-items="Model.Companies">
        <option value="">-- Select Company --</option>
    </select>

    <button type="submit">Connect</button>
</form>